.teacher__block {
    background: var(--white);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
}

.teacher__avatar {
    width: 128px;
    height: 128px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    margin-right: 24px;
}

.teacher__about {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}

.teacher__name-keeper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}

.teacher__name > h3 {
    line-height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.teacher__rating {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
}

.teacher__about-text {
    margin-bottom: 32px;
}


.teacher__interests-keeper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.teacher__interest {
    padding: 8px 12px;
    margin-right: 8px;
    font-weight: normal;
    margin-bottom: 16px;
}

.tab.teacher__tab {
    padding-bottom: 19px;
}

/*.teacher__course {*/
/*    margin-bottom: 24px;*/
/*}*/

/*.teacher__course:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.teacher__course-info-keeper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.teacher__course-icon {*/
/*    margin-right: 16px;*/
/*    min-width: 64px;*/
/*    height: 64px;*/
/*    border-radius: 16px;*/
/*}*/

/*Hide Reviews block*/

.teacher__reviews {
    /*display: none;*/
}

.teacher__review {
    margin-top: 24px;
}

.teacher__review-author {
    display: flex;
    align-items: center;
}

.teacher__review-author-image {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
}

.teacher__review-content {
    margin: 8px 0;
}

.teacher__review-rates {
    display: flex;
    align-items: center;
}

.teacher__review-rate-keeper {
    display: flex;
    align-content: inherit;
    margin-right: 32px;
}

.teacher__review-rate-keeper:last-child {
    margin-right: 0;
}

.teacher__review-target {
    color: var(--grey);
    font-weight: normal;
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    .teacher__block {
        flex-direction: column;
    }

    .teacher__avatar {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .teacher__tabs {
        overflow-x: scroll;
        justify-content: initial;
        max-width: 100%;
        margin-right: -49px;
    }

    .teacher__tabs::-webkit-scrollbar {
        display: none;
    }

    .teacher__tab {
        white-space: nowrap;
    }
}

@media screen and (max-width: 580px) {
    .teacher__name-keeper {
        flex-direction: column;
        align-items: initial;
    }

    .teacher__write-message {
        margin-top: 24px;
    }

    .teacher__review-rates {
        flex-direction: column;
        align-items: flex-start;
    }

    .teacher__review-rate-keeper {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .teacher__review-rate-keeper:last-child {
        margin-bottom: 0;
    }
}
