.header {
  height: 56px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.header__menu-opener {
  display: none;
}

.header__menu-opener > .close {
  display: none;
}

.header__menu-opener.active > .close {
  display: block;
}

.header__menu-opener.active > .open {
  display: none;
}

.header__dropdowns-responsive {
  display: none;
  align-items: center;
}

.header__responsive-actions-opener {
  display: none;
}

.header__responsive-actions-opener > .close {
  display: none;
}

.header__account {
  display: flex;
}

.header__account > div {
  margin-right: 8px;
}

.header__account > div:last-child {
  margin-right: 0;
}

.header__account button {
  width: 56px;
  height: 56px;
  border-radius: 16px;
}

.header__messages-button,
.header__notifications-button {
  position: relative;
}

.header__messages-counter,
.header__notifications-counter {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  background: var(--primary);
  color: var(--white);
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
}

.header__notification-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: relative;
  border-top: 1px solid var(--very-light-grey)
}

.header__notifications-all {
  font-size: 14px;
  line-height: 24px;
  color: var(--primary);
}

.button.header__notification-settings {
  padding: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.header__notification-keeper {
  padding: 8px;
  border-bottom: 1px solid var(--very-light-grey)
}

.button.header__notification {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  height: auto;
  justify-content: unset;
  text-align: left;
}

.header__notification:hover {
  background: var(--light-primary)
}

.header__notification-image {
  margin-right: 12px;
}

.header__notification-content p {
  font-size: 12px;
  line-height: 20px;
}

.header__notification-source {
  color: var(--grey)
}

.header__notification-time {
  color: var(--light-grey)
}

p.header__notification-title {
  font-size: 14px;
  line-height: 24px;
}

button.header__profile-button {
  width: 184px;
  padding: 0;
}

.header__avatar-keeper {
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 4px;
  background: var(--white);
}

.header__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 12px;
}

.header__profile-name {
  margin: 0 12px;
}

.header__profile-dropdown {
  width: 208px;
}

.header__account .header__profile-buttons {
  width: 100%;
  height: auto;
}

.header__profile-buttons {
  padding: 0 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  margin-bottom: 4px;
  height: 48px;
  justify-content: flex-start;
}

.header__profile-buttons:hover {
  background: var(--light-primary);
  color: var(--primary)
}

.header__profile-buttons:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .dropdown.header__profile-dropdown {
    transform: translateX(0) scale(0) !important;
    transform-origin: top right;
    right: 0;
  }

  .dropdown.dropdown_open.header__profile-dropdown {
    transform: translateX(0) scale(1) !important;
  }

  .header__profile-name {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .select-items {
    left: 24px;
  }

  .sidebar__resp .header__search {
    display: flex;
    position: absolute;
    top: 8px;
    left: 0;
  }

  .sidebar > div:first-child {
    margin-bottom: 24px;
  }

  .header__menu-opener {
    display: flex;
  }

  .header>.header__account {
    display: none;
  }
}
